version: "3.8"

services:
  app:
    container_name: solar-dashboard
    build:
      context: .
      args:
        - NODE_ENV=development
        - REACT_APP_DISABLE_REGISTRATION=true
    ports:
      - "3000:80"
    environment:
      - NODE_ENV=development
      - REACT_APP_DISABLE_REGISTRATION=true
    restart: unless-stopped
    env_file:
      - .env.development

  backend:
    container_name: solar-dashboard-backend
    build: ./backend
    restart: unless-stopped
    environment:
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - FIREBASE_SERVICE_ACCOUNT=${FIREBASE_SERVICE_ACCOUNT}
    env_file:
      - .env.development
